body {
    margin: 0;
    text-align: center;
    background-color: #b9743d;
    background-image: url('images/bg.png');
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto 550px;
}

/* =================== Student code ==================*/
main{
    margin: 40px auto;
    width: 25px;
    height: 445px;
    background-image: url('images/clove-seed.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    transition: all 0.5s linear;
}

@media (min-width: 1200px) {
    main {
        width: 250px;
        height: 570px;
        background-image: url("images/garlic-flower.png");
    }
}

@media (min-width: 600px) and (max-width: 800px){
    main {
        width: 80px;
        height: 450px;
        background-image: url("images/seedling.png");
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    main {
        width: 100px;
        height: 460px;
        background-image: url("images/young-plant.png");
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    main {
        width: 190px;
        height: 550px;
        background-image: url("images/garlic-bud.png");
    }
}